name: CI

on:
  # Run on PRs and pushes to the default branch.
  push:
    branches: [ master ]
    paths:
      - 'specification/**'
      - '.github/workflows/ci.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'specification/**'
      - '.github/workflows/ci.yml'

jobs:
  specification:
    runs-on: ubuntu-latest
    if: |
      (
        (github.event_name == 'push'
          && github.ref == 'refs/heads/master'
          && github.repository == 'dart-lang/language'
        ) ||
        (github.event.pull_request.head.repo.full_name == github.repository)
      )

    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Install latex tools
        run: | 
          sudo apt-get update -qq
          sudo apt-get install \
            texlive-latex-base \
            texlive-latex-extra \
            texlive-fonts-recommended \
            lmodern
      - name: Build specification
        run: |
          cd specification
          make
          mkdir firebase
          cp dartLangSpec.pdf firebase/DartLangSpecDraft.pdf
      - uses: FirebaseExtended/action-hosting-deploy@4d0d0023f1d92b9b7d16dda64b3d7abd2c98974b
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DART_SPECIFICATION }}'
          projectId: dart-specification
          entryPoint: specification/
          channelId: ${{ github.event_name == 'push' && 'live' || '' }}
