name: Dart CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  analyze:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
            sdk: main
      - name: dart pub get (specification)
        run: dart pub get
        working-directory: specification
      - name: dart pub get (tools/corpus)
        run: dart pub get
        working-directory: tools/corpus/scripts
      - name: dart pub get (accepted/2.3/spread-collections/benchmarks)
        run: dart pub get
        working-directory: accepted/2.3/spread-collections/benchmarks
      - name: dart pub get (accepted/future-releases/0546-patterns/exhaustiveness_prototype)
        run: dart pub get
        working-directory: accepted/future-releases/0546-patterns/exhaustiveness_prototype
      - name: dart analyze --fatal-infos .
        run: dart analyze --fatal-infos .
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
            sdk: main
      - name: dart pub get (accepted/future-releases/0546-patterns/exhaustiveness_prototype)
        run: dart pub get
        working-directory: accepted/future-releases/0546-patterns/exhaustiveness_prototype
      - name: dart test (accepted/future-releases/0546-patterns/exhaustiveness_prototype)
        run: dart test
        working-directory: accepted/future-releases/0546-patterns/exhaustiveness_prototype
