name: Dart CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      - uses: dart-lang/setup-dart@f0ead981b4d9a35b37f30d36160575d60931ec30
        with:
            sdk: main
      - name: dart pub get (specification)
        run: dart pub get
        working-directory: specification
      - name: dart pub get (working/macros/example)
        run: dart pub get
        working-directory: working/macros/example
      - name: dart pub get (working/macros/dart_model)
        run: testing/pub_get
        working-directory: working/macros/dart_model
      - name: dart pub get (accepted/2.3/spread-collections/benchmarks)
        run: dart pub get
        working-directory: accepted/2.3/spread-collections/benchmarks
      - name: dart pub get (accepted/future-releases/0546-patterns/exhaustiveness_prototype)
        run: dart pub get
        working-directory: accepted/future-releases/0546-patterns/exhaustiveness_prototype
      - name: dart analyze --fatal-infos .
        run: dart analyze --fatal-infos .
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
      - uses: dart-lang/setup-dart@f0ead981b4d9a35b37f30d36160575d60931ec30
        with:
            sdk: main
      - name: dart pub get (accepted/future-releases/0546-patterns/exhaustiveness_prototype)
        run: dart pub get
        working-directory: accepted/future-releases/0546-patterns/exhaustiveness_prototype
      - name: dart test (accepted/future-releases/0546-patterns/exhaustiveness_prototype)
        run: dart test
        working-directory: accepted/future-releases/0546-patterns/exhaustiveness_prototype
