name: Dart CI

on:
  # Run on PRs and pushes to the default branch.
  push:
    branches: [ main ]
    paths:
      - 'specification/**'
      - '.github/workflows/spec.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'specification/**'
      - '.github/workflows/spec.yml'

jobs:
  specification:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - name: Install latex tools
        run: |
          sudo apt-get update -qq
          sudo apt-get install \
            texlive-latex-base \
            texlive-latex-extra \
            texlive-fonts-recommended \
            lmodern

      - name: Build specification
        run: |
          cd specification
          make
          mkdir firebase
          cp dartLangSpec.pdf firebase/DartLangSpecDraft.pdf

      - name: Upload specification
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: FirebaseExtended/action-hosting-deploy@120e124148ab7016bec2374e5050f15051255ba2
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DART_SPECIFICATION }}'
          projectId: dart-specification
          entryPoint: specification/
          channelId: ${{ github.event_name == 'push' && 'live' || '' }}
